@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Bold/Geometria-Bold.eot');
    src: url('../fonts/Geometria-Bold/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Bold/Geometria-Bold.woff2') format('woff2'),
        url('../fonts/Geometria-Bold/Geometria-Bold.woff') format('woff'),
        url('../fonts/Geometria-Bold/Geometria-Bold.ttf') format('truetype'),
        url('../fonts/Geometria-Bold/Geometria-Bold.svg#Geometria-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BigCity-Book';
    src: url('../fonts/BigCity/BigCityGrotesquePro-Web-Book.eot');
    src: url('../fonts/BigCity/BigCityGrotesquePro-Web-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BigCity/BigCityGrotesquePro-Web-Book.woff2') format('woff2'),
        url('../fonts/BigCity/BigCityGrotesquePro-Web-Book.woff') format('woff'),
        url('../fonts/BigCity/BigCityGrotesquePro-Web-Book.ttf') format('truetype'),
        url('../fonts/BigCity/BigCityGrotesquePro-Web-Book.svg#/BigCityGrotesquePro-Web-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BigCity-Book';
    src: url('../fonts/BigCity/BigCityGrotesquePro-Web-Medium.eot');
    src: url('../fonts/BigCity/BigCityGrotesquePro-Web-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BigCity/BigCityGrotesquePro-Web-Medium.woff2') format('woff2'),
        url('../fonts/BigCity/BigCityGrotesquePro-Web-Medium.woff') format('woff'),
        url('../fonts/BigCity/BigCityGrotesquePro-Web-Medium.ttf') format('truetype'),
        url('../fonts/BigCity/BigCityGrotesquePro-Web-Medium.svg#BigCityGrotesquePro-Web-Medium') format('svg');
    font-weight: bold;
    font-style: normal;
}

body{
	font-family: 'BigCity-Book';
}

.aqua{
	background: #3bd8cd;
	color: #fff;
}

.orange{
	background: #ff6134;
	color: #fff;
}

.light-yellow{
	background: #fffde8;
}

.g-lockscroll{
	overflow: hidden;
    height: 100%;
}

.container{

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
}

:-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}

:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}

a {
  color: #32b67a;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a.border{
  color: #000;
  border-bottom: 2px solid #000;
}

a.border-thin{
	color: #000;
    border-bottom: 1px solid #000;
}

a:hover {
  color: #32b67a;
  text-decoration: none;
  transition: all 0.4s;
}


@media screen and (max-width: 768px){
	html, body, .wrapper{
		height: 100%;
	}
}


.button{
	font-family: 'Geometria';
	text-align: left;
	display: block;
	max-width: 330px;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 0.1em;
	padding: 17px 30px 17px 30px;
	text-transform: uppercase;
	border: 1px solid #32b67a;
	color: #32b67a;
	border-radius: 30px;
	position: relative;
	transition: all 0.4s;
}

.button:hover{
	background: #32b67a;
	color: #fff;
	transition: all 0.4s;
}

.button.arrow:before{
	content: '';
    display: block;
    position: absolute;
    top: 50%;
    border: 1px solid #32b67a;
    width: 10px;
    height: 10px;
    transform: translateY(-50%) rotate(45deg);
    border-left: 1px;
    border-bottom: 1px;
	right: 25px;
	transition: all 0.4s;
}

.button.arrow:hover:before{
	border-color: #fff;
	transition: all 0.4s;
}

.button.arrow.white:before{
	border-color: #fff;
}

.button.center{
	margin: 0 auto;
}

.button.wide{
	max-width: 100%;
}

.button.white{
	color: #fff;
	border-color: #fff;
}

.button.white:hover{
	background: #fff;
}

.aqua .button.white:hover{
	color: #3bd8cd;
}

.aqua .button.white:hover:before{
	border-color: #3bd8cd;
}

.orange .button.white:hover{
	color: #ff6134;
}

.orange .button.white:hover:before{
	border-color: #ff6134;
}

.button_bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

@media screen and (max-width: 1000px) {
	.button{
		padding: 10px 20px 10px 20px;
	}

	.button.narrow{
		max-width: 235px;
	}
}

@media screen and (max-width: 768px){
	a.border{
		border-width: 1px;
	}

	.button.arrow:before{
		right: 20px;
	}
}
@media screen and (max-width: 480px){
	.button.narrow{
		max-width: 330px;
	}
}

@media screen and (max-width: 1200px) {
	.hidden-1200{
		display: none;
	}
}

/**************** СТРЕЛКИ АНОНСОВ ***************/

.anons__arrow{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 60px;
	height: 30px;
	width: 30px;
	border: 1px solid #ffffff;
	border-radius: 30px;
	margin: 0 auto;
	cursor: pointer;
}

.anons__arrow:before{
	content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    border: 1px solid #fff;
    width: 8px;
    height: 8px;
    transform: translateX(-50%) rotate(45deg);
    border-left: 1px;
    border-top: 1px;
    left: 50%;
}

@media screen and (max-width: 768px){
	.anons__arrow{
		width: 20px;
		height: 20px;
		bottom: 22px;
	}

	.anons__arrow:before{
		width: 6px;
		height: 6px;
	}
}

@media screen and (max-width: 480px) {
	.anons__arrow{
		width: 30px;
		height: 30px;
		bottom: 75px;
	}

	.anons__arrow:before{
		width: 8px;
		height: 8px;
	}
}

/****************  ШАПКА САЙТА  ***************/

.header{
	overflow: hidden;
	padding: 18px 50px;
}

.header__logo{
	float: left;
	color: #000;
}

.header__logo:hover{
	color: #000;
}

.header__logo__text{
	display: inline-block;
	vertical-align: middle;
	font-size: 29px;
	line-height: 1;
}

.header__logo:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 34px;
	height: 34px;
	background: url('../img/logo.svg');
	background-size: cover;
	margin-right: 15px;
}

.header__toggle{
	display: none;
	float: right;
	cursor: pointer;
	position: relative;
}

.header__toggle span{
	display: block;
    height: 2px;
	width: 24px;
	background-color: #ff6134;
	margin: 6px 0 0;
}

.header__nav{
	margin-top: 10px;
	float: right;
	font-size: 0;
}

.header__nav__link{
	font-size: 9px;
	letter-spacing: 0.15em;
	line-height: 19px;
	display: inline-block;
	text-transform: uppercase;
	color: #000;
	text-align: right;
	margin-left: 70px;
	border-bottom: 3px solid #fff;
	font-family: 'Geometria';
}

.header__nav__link:first-child{
	margin-left: 0;
}

.header__nav__link.active{
	border-color: #ff6134;
}

.header__nav__mobile{
	display: none;
}

@media screen and (max-width: 1000px) {
	.header{
		padding-left: 30px;
		padding-right: 30px;
	}

	.header__nav__link{
		margin-left: 45px;
	}
}

@media screen and (max-width: 768px){
	.header{
		padding: 11px 35px;
	}

	.header__row{
		overflow: hidden;
	}

	.header__nav{
		display: none;
		float: none;
		clear: both;
		margin-top: 30px;
	}

	.header__nav__main{
		align-self: flex-start;
	}

	.header__nav__mobile{
		display: block;
		width: 100%;
		align-self: flex-end;
	}

	.header__nav__mobile__item{
		display: inline-block;
		vertical-align: bottom;
		width: 50%;
		padding-right: 40px;
	}

	.header__nav__mobile__item:last-child{
		padding-right: 0;
	}

	.header__nav__search-wrap{
		position: relative;
	}

	.header__nav__search__input{
		border: 1px solid #ffffff;
		border-radius: 20px;
		font-size: 10px;
		color: #ffffff;
		text-align: left;
		letter-spacing: 0.1em;
		line-height: 7px;
		text-transform: uppercase;
		width: 100%;
		background: none;
		padding: 12px 15px;
		font-family: 'Geometria';
	}

	.header__nav__search__icon{
		border: none;
	    position: absolute;
	    right: 20px;
	    top: 12px;
	    display: block;
	    width: 12px;
	    height: 12px;
	    background: url('../img/lupe.svg') no-repeat;
	    background-size: 12px 12px;
	    cursor: pointer;
	    outline: 0;
	}

	.header__nav__social-links{
		font-size: 0;
	}

	.header__nav__social-link{
		display: inline-block;
		vertical-align: bottom;
		font-size: 12px;
		color: #ffffff;
		letter-spacing: 0.02em;
		line-height: 20px;
		margin-right: 20px;
		text-decoration: underline;
	}

	.header__nav.active{
		display: block;
	}

	.header__logo{
		margin-top: 2px;
	}

	.header__toggle{
		display: block;
	}

	.header__logo__text{
		font-size: 17px;
		line-height: 27px;
	}

	.header__logo:before{
		width: 20px;
		height: 20px;
		margin-right: 10px;
	}

	.header.active{
		background: #ff6134;
		color: #fff;
		height: 100%;
		z-index: 999;
	}

	.header.active .header__nav{
		display: flex;
		flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: space-between;
	    height: 80%;
	    height: calc(100% - 80px);
	}

	.header.active .header__nav__link{
		border-bottom: none;
		font-size: 25px;
		color: #ffffff;
		line-height: 1;
		text-transform: none;
		width: 50%;
		margin: 0 0 20px;
		text-align: left;
		padding-right: 20px;
		letter-spacing: 0;
		font-family: 'BigCity-Book';
		font-weight: normal;
	}

	.header.active .header__logo{
		color: #fff;
	}

	.header.active .header__logo:before{
		background: url('../img/logo-white.svg');
	}

	.header.active .header__toggle{
		height: 17px;
		width: 17px;
	}

	.header.active .header__toggle span{
		display: none;
	}

	.header.active .header__toggle:after,
	.header.active .header__toggle:before {
	    content: " ";
	    position: absolute;
	    height: 20px;
	    width: 2px;
	    left: 4px;
	    top: 4px;
	    background-color: #fff;
	    transform: rotate(-45deg);
	}

	.header.active .header__toggle:before {
	    transform: rotate(45deg);
	}
}

@media screen and (max-width: 480px) {
	.header{
		padding: 11px 20px;
	}

	.header.active .header__nav__link{
		width: 100%;
	}

	.header__nav__search-wrap{
		margin-bottom: 20px;
	}

	.header__nav__mobile__item{
		display: block;
		width: 100%;
		padding-right: 0px;
	}

}

/****************  ГЛАВНЫЙ СЛАЙДЕР  ***************/

.main__slider{
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    max-height: 510px;
    overflow: hidden;
}

.main__slider__col1{
	-webkit-flex-basis: 67%;
	flex-basis: 67%;
}

.main__slider__image{
	min-height: 100%;
	min-width: 100%;
	object-fit: cover;
}

.main__slider__col2{
	-webkit-flex-basis: 33%;
	flex-basis: 33%;
	padding: 63px 50px 50px;
	position: relative;
}

.main__slider__col2__inner{
	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
    max-width: 400px;
}

.main__slider__title{
	position: relative;
	z-index: 2;
	align-self: flex-start;
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 40px;
}

.main__slider__title:after{
	content: '';
	position: absolute;
	bottom: -85px;
	left: -30px;
	display: block;
	background: url('../img/grass3.png') no-repeat;
	width: 117px;
    height: 94px;
	z-index: -1;
	transform: rotate(-120deg);
	background-size: cover;
}

.main__slider__bottom{
	align-self: flex-end;
	width: 100%;
	z-index: 5;
}

.main__slider__text{
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 20px;
}

.main__slider__button-wrap{
	position: relative;
	max-width: 90%;
}

.main__slider__button-wrap .button{
	position: relative;
	z-index: 2;
}

.main__slider__button-wrap:after{
	content: '';
	position: absolute;
	top: -10px;
	right: -30px;
	display: block;
	background: url('../img/grass2.png') no-repeat;
	width: 54px;
	height: 46px;
	z-index: 1;
}

@media screen and (max-width: 1000px) {
	.main__slider{
		max-height: none;
	}

	.main__slider__col2{
		padding: 43px 40px 50px 30px;
	}
}

@media screen and (max-width: 768px){
	.main__slider{
		min-height: 225px;
	}

	.main__slider__col1{
		-webkit-flex-basis: 50%;
		flex-basis: 50%;
	}

	.main__slider__col2{
		-webkit-flex-basis: 50%;
		flex-basis: 50%;
		padding: 23px 30px 30px;
	}

	.main__slider__title{
		font-size: 22px;
		line-height: 25px;
	}

	.main__slider__title:after{
		display: none;
	}

	.main__slider__text{
		display: none;
	}

	.main__slider__button-wrap{
		max-width: 100%;
	}

	.main__slider__button-wrap:after{
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.main__slider{
		flex-direction: column;
	}
	.main__slider__col1{
		-webkit-flex-basis: 100%;
		flex-basis: 100%;
	}

	.main__slider__col2{
		-webkit-flex-basis: 100%;
		flex-basis: 100%;
		padding: 35px 20px 35px;
	}

	.main__slider__title{
		font-size: 28px;
		line-height: 30px;
	}
}

/****************  АНОНС НА ГЛАВНОЙ  ***************/

.main-anons{

}

.main-anons__content{
	padding: 80px 0 90px;
	max-width: 640px;
	margin: 0 auto;
}

.main-anons__title{
	font-family: 'Geometria';
	padding: 0 50px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.06em;
}

.main-anons__title:after{
	content: '';
	display: block;
	background: url('../img/what.png') no-repeat;
	background-size: cover;
	width: 24px;
	height: 17px;
	margin: 26px auto 30px;
}

.main-anons__text{
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.01em;
	margin: 0px 0 60px;
}

@media screen and (max-width: 1000px) {
	.main-anons__content{
		max-width: 450px;
	}

	.main-anons__title:after{
		margin: 22px auto 11px;
	}

	.main-anons__text{
		margin-bottom: 30px;
		padding: 0 30px;
	}
}

@media screen and (max-width: 768px){
	.main-anons__content{
		max-width: 100%;
		margin: 0;
		padding: 54px 35px 40px;
	}

	.main-anons__title{
		font-size: 12px;
		line-height: 20px;
		padding: 0px 75px;
	}

	.main-anons__title:after{
		width: 13px;
		height: 9px;
		margin: 12px auto 12px;
	}

	.main-anons__text{
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 480px) {
	.main-anons__content{
		padding: 50px 20px 35px;
	}

	.main-anons__title{
		padding: 0;
	}

	.main-anons__text{
		padding: 0;
		margin-bottom: 20px;
	}
}

/****************  МЕНЮ НА ГЛАВНОЙ  ***************/

.main-menu{
	position: relative;
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
}

.main-menu__item{
	-webkit-flex-basis: 25%;
	flex-basis: 25%;
	font-size: 14px;
	text-align: center;
	position: relative;
}

.main-menu__item.last{
	display: none;
}

.main-menu__item__title{
	font-size: 28px;
	line-height: 1;
	letter-spacing: -0.01em;
	margin-bottom: 15px;
	color: #000;
}

.main-menu__item__text{
	font-size: 14px;
	line-height: 20px;
}

.main-menu__item__name{
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	color: #fff;
	font-size: 18px;
	line-height: 35px;
	letter-spacing: 0.01px;
}

.main-menu__item img{
	width: 100%;
}

.main-menu__item__inner{
	height: 100%;
	position: relative;
}

.main-menu__item_card{
	padding: 32px 30px 40px;
	text-align: left;
	position: relative;
}

.main-menu__item__mobile{
	display: none;
}

.blocks__content__main{
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.blocks__content__main__text{
	align-self: flex-start;
	font-size: 28px;
	line-height: 35px;
	max-width: 500px;
	margin-bottom: 35px;
	letter-spacing: 0.01em;
}

.blocks__content__main__button-wrap{
	align-self: flex-end;
	width: 100%;
}

@media screen and (max-width: 1000px) {
	.main-menu__item__name{
		top: 19px;
	}
}

@media screen and (max-width: 880px) {
	.main-menu__item__text{
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.main-menu{
		flex-direction: row-reverse;
	}

	.main-menu__item__name{
		display: none;
	}

	.main-menu__item__inner{
		display: flex;
	}

	.main-menu__item_card{
		background: #3bd8cd;
		color: #fff;
		padding: 4% 2%;
	}

	.blocks__content__main__text{
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 20px;
	}

	.main-menu__item__desktop{
		display: none;
	}

	.main-menu__item__mobile{
		display: block;
		align-self: center;
		width: 100%;
	}

	.main-menu__item__title{
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 0;
		color: #fff;
	}

	.main-menu__item__title:after {
	    content: '';
	    display: block;
	    margin: 10px auto 0;
	    width: 28px;
	    height: 24px;
	    background: url(../img/daily-blue.png) no-repeat;
	    background-size: cover;
	}
}

@media screen and (max-width: 480px) {
	.main-menu{
		flex-wrap: wrap-reverse;
	}

	.main-menu__item{
		-webkit-flex-basis: 50%;
		flex-basis: 50%;
	}

	.main-menu__item_card{
		padding: 30px;
	}
}

/****************  БЛОКИ  ***************/

.blocks__row{
    display: flex;
    flex-direction: row;
}

.blocks__row_center{
	justify-content: center;
	align-content: center;
	align-items: center;
}

.blocks__col {
	-webkit-flex-basis: 50%;
	flex-basis: 50%;
	position: relative;
}

.blocks__col img{
	width: 100%;
}

.blocks__content{
	height: 100%;
	position: relative;
	padding: 10%;
}

.blocks__title{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	line-height: 16px;
	font-family: 'Geometria';
}

.blocks__title:after{
	content: '';
	display: block;
	width: 18px;
	height: 4px;
	background: #ff9149;
	margin: 40px 0;
}

.blocks__col_daily:before{
	content: "";
    display: block;
    padding-top: 100%;
}

.blocks__content_daily{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 80px 20px 80px;
}

.blocks__daily__title{
	font-size: 36px;
	line-height: 45px;
	width: 200px;
	margin: 0 auto;
  font-family: 'BigCity-Book';
  font-weight: bold;
  font-style: normal;
}

.blocks__daily__title:after{
	content: '';
	display: block;
	margin: 30px auto 50px;
	width: 58px;
	height: 54px;
	background: url('../img/daily-blue.png') no-repeat;
	background-size: cover;
}

.business-block{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8% 5% 12%;
    justify-content: space-between;
    overflow: hidden;
}

.business-block__name{
	width: 100%;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    align-self: flex-start;
    font-family: 'Geometria';
    position: relative;
    z-index: 2;
}

.business-block__title{
	font-size: 36px;
	line-height: 45px;
	letter-spacing: 0.03em;
	max-width: 480px;
	font-weight: bold;
}

.business-block__button-wrap{
	width: 100%;
    align-self: flex-end;
    position: relative;
}

@media screen and (max-width: 1000px) {
	.blocks__content{
		padding: 7%;
	}
}

@media screen and (max-width: 768px) {
	.blocks__title{
		font-size: 12px;
		line-height: 20px;
	}

	.blocks__title:after{
		width: 10px;
		height: 4px;
		margin: 15px 0;
	}

	.blocks__content{
		padding: 25px 21px 30px;
	}

	.blocks__daily__title{
		font-size: 30px;
		line-height: 35px;
	}

	.blocks__daily__title:after{
		width: 37px;
		height: 33px;
		margin: 14px auto 0px;
	}

	.blocks__daily__button-wrap{
		display: none;
	}

	.business-block__name{
		font-size: 10px;
		line-height: 25px;
	}

	.business-block__title{
		font-size: 20px;
		line-height: 25px;
		max-width: 270px;
	}
}

@media screen and (max-width: 480px) {
	.blocks__row{
	    flex-direction: column;
	}

	.blocks__row_invert{
		flex-direction: column-reverse;
	}

	.blocks__col {
		-webkit-flex-basis: 100%;
		flex-basis: 100%;
	}

	.blocks__col_daily{
		width: 100%;
	}

	.blocks__content{
		padding: 50px 20px 40px;
	}

	.blocks__content_daily{
		padding: 80px 20px 80px;
	}

	.blocks__daily__title{
		font-size: 36px;
		line-height: 40px;
	}
}


/*****************  О НАС  ****************/

.about-anons{
	padding: 120px 30px 150px;
	overflow: hidden;
	position: relative;
}

.about-anons:before{
	content: '';
	display: block;
	position: absolute;
	top: -90px;
	left: -50px;
	width: 479px;
	height: 621px;
	background: url('../img/grass6.png');
	background-size: cover;
}

.about-anons:after{
	content: '';
	display: block;
	position: absolute;
	top: -70px;
	right: -20px;
	width: 247px;
	height: 232px;
	background: url('../img/grass4.png');
	background-size: cover;
}

.about-anons__title{
	position: relative;
	z-index: 2;
	max-width: 680px;
	margin: 0 auto;
	font-size: 36px;
	line-height: 45px;
	letter-spacing: -0.2px;
}

@media screen and (max-width: 1000px) {
	.about-anons:before{
		left: auto;
		right: 63%;
	}
}

@media screen and (max-width: 768px) {
	.about-anons{
		padding: 65px 30px;
	}

	.about-anons:before{
		width: 210px;
    	height: 100%;
    	top: 0;
    	left: -30px;
	}

	.about-anons:after{
		top: -32px;
		height: 111px;
		width: 119px;
	}

	.about-anons__title{
		max-width: 450px;
		font-size: 24px;
		line-height: 30px;
	}
}

@media screen and (max-width: 480px) {
	.about-anons{
		padding: 140px 30px 180px;
	}

	.about-anons:before{
		height: 435px;
	    width: 336px;
	    bottom: -100px;
	    top: auto;
	    left: -221px;
	}

	.about-anons:after{
		height: 172px;
	    width: 183px;
	    top: -50px;
	}
}

/******************  ABOUT СЛАЙДЕР  ***************/

.slick-slide:active,
.slick-slide:focus{
	outline: none;
	border: none;
}

.about-slider__inner,
.slick-dots{
	max-width: 900px;
	margin: 0 auto;
    padding: 0 70px;
}

.about-slider__inner{
	position: relative;
}

.about-slider__img{
	position: absolute;
	right: 0;
	bottom: 0;
	max-height: 100%;
}

.about-slider__slide{
	padding: 100px 0 45px;
	max-width: 60%;
	position: relative;
	z-index: 2;
}

.about-slider__text{
	font-size: 25px;
	line-height: 35px;
	margin-bottom: 50px;
}

.about-slider__author{
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 25px;
	padding-bottom: 55px;
	font-family: 'Geometria';
}

.slick-dots{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 45px;
	list-style: none;
	font-size: 0;
}

.slick-dots li{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	text-indent: -9999em;
	width: 5px;
	height: 5px;
	border-radius: 15px;
	background: rgba(0,0,0,.4);
	cursor: pointer;
}

.slick-dots .slick-active{
	background: #000;
	cursor: default;
}

.slick-arrow{
	position: absolute;
	top: 50%;
	margin-top: -18px;
	text-indent: -9999em;
	border: none;
	box-shadow: none;
	background: none;
	color: transparent;
	width: 30px;
	height: 36px;
	padding: 0;
	z-index: 9;
	cursor: pointer;
}

.slick-prev{
	left: 45px;
}

.slick-next{
	right: 45px;
}

.slick-arrow:focus,
.slick-arrow:active{
	border: none;
	outline: none;
}

.slick-arrow:before{
	content: '';
    display: block;
    position: absolute;
    top: 50%;
    border: 2px solid #000000;
    width: 15px;
    height: 15px;
    transform: translateY(-50%) rotate(45deg);
}

.slick-prev:before{
    border-right: 0;
    border-top: 0;
	left: 0px;
}

.slick-next:before{
    border-left: 1px;
    border-bottom: 1px;
	right: 0px;
}

.slick-arrow.slick-disabled{
	cursor: default;
}

.slick-arrow.slick-disabled:before {
	border-color: #999;
}


@media screen and (max-width: 1000px) {
	.slick-prev{
		left: 25px;
	}

	.slick-next{
		right: 25px;
	}
}

@media screen and (max-width: 768px) {
	.slick-prev{
		left: 15px;
	}

	.slick-next{
		right: 15px;
	}

	.about-slider__img{
		right: 8%;
	}

	.about-slider__slide{
		padding: 84px 0;
		max-width: 60%;
	}

	.about-slider__text{
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 30px;
	}

	.about-slider__author{
		padding-bottom: 0;
		font-size: 10px;
		line-height: 20px;
	}

	.about-slider__inner,
	.slick-dots{
		padding: 0 10%;
	}

	.slick-dots{
		display: none !important;
	}
}

@media screen and (max-width: 480px) {
	.about-slider__slide{
		padding: 50px 0;
		max-width: 100%;
		text-align: center;
	}

	.about-slider__inner{
		padding: 0 50px;
	}

	.about-slider__img{
		display: none !important;
	}
}

/******************  БЛОКИ ABOUT  ***************/

.blocks__about{
	font-size: 18px;
	letter-spacing: 0.01em;
	line-height: 25px;
}

.blocks__content_about{
	padding: 0 20%;
}

@media screen and (max-width: 1000px) {
	.blocks__content_about{
		padding: 0 15%;
	}
}

@media screen and (max-width: 768px) {
	.blocks__content_about{
		padding: 40px;
	}

	.blocks__about{
		font-size: 14px;
		line-height: 20px;
	}
}

@media screen and (max-width: 480px) {
	.blocks__content_about{
		padding: 30px;
	}
}

/******************  СПЕЦИАЛИСТЫ  ***************/

.about-job{
	padding: 95px 30px;
}

.about-job__title{
	font-family: 'Geometria';
	text-transform: uppercase;
	max-width: 350px;
	margin: 0 auto;
	font-size: 16px;
	letter-spacing: 0.06em;
	line-height: 25px;
	margin-bottom: 40px;
}

.about-job__title:before{
	content: '';
	display: block;
	margin: 0px auto 25px;
	width: 41px;
	height: 38px;
	background: url('../img/daily.png') no-repeat;
	background-size: cover;
}

.about-job__row{
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.about-job__col1{
	-webkit-flex-basis: 63%;
	flex-basis: 63%;
}

.about-job__col2{
	-webkit-flex-basis: 37%;
	flex-basis: 37%;
}

.about-job__text{
	font-size: 18px;
	letter-spacing: 0.01em;
	line-height: 25px;
	padding-right: 15%;
}

.about-job__list{
	padding: 0;
	list-style: none;
	margin-bottom: 40px;
}

.about-job__list li{
	position: relative;
	padding-left: 30px;
	margin-bottom: 13px;
	font-size: 18px;
	color: #000000;
	letter-spacing: 0.01em;
	line-height: 20px;
}

.about-job__list li:before{
	content: '';
	display: block;
	position: absolute;
	top: 8px;
	left: 0;
	height: 10px;
	width: 10px;
	background-color: #32b67a;
	border-radius: 10px;
}

.about__image-wrap{
	height: 350px;
	overflow-x: hidden;
	background: url('../img/team.jpg') no-repeat center -70px;
	background-size: cover;
}

.about__address{
	position: relative;
	height: 350px;
	overflow-x: hidden;
	background: url('../img/cafe.jpg') no-repeat center center;
	background-size: cover;
	display: flex;
	align-items: center;
}

.about__address:hover:before{
	background: rgba(0,0,0,0.6);
	transition: all 0.4s;
}

.about__address:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.4);
	transition: all 0.4s;
}

.about__address__title{
	display: block;
	width: 100%;
	color: #ffffff;
	text-align: center;
	font-size: 36px;
	line-height: 45px;
	letter-spacing: -0.2px;
	position: relative;
	z-index: 2;
}

.about__address__link:hover{
	color: #fff;
}

@media screen and (max-width: 1000px) {
	.about-job__row{
		max-width: 780px;
	}

	.about__image-wrap{
		background-position: center top;
	}
}

@media screen and (max-width: 768px) {
	.about-job{
		padding: 55px 30px;
	}

	.about-job__title{
		font-size: 12px;
		line-height: 20px;
	}

	.about-job__text {
	    font-size: 14px;
	    line-height: 20px;
	    padding-right: 20px;
	}

	.about-job__row{
		padding-bottom: 80px;
	}

	.about-job__col1{
		-webkit-flex-basis: 60%;
		flex-basis: 60%;
	}

	.about-job__col2{
		-webkit-flex-basis: 40%;
		flex-basis: 40%;
	}

	.about-job__button{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
	}

	.about-job__button .button{
		margin: 0 auto;
	}

	.about__image-wrap,
	.about__address{
		height: 230px;
	}

	.about__address__title{
		font-size: 24px;
		line-height: 25px;
	}
}

@media screen and (max-width: 480px) {
	.about-job{
		padding: 30px;
	}

	.about-job__title{
		margin-bottom: 20px;
	}

	.about-job__row{
	    flex-wrap: wrap;
	    padding-bottom: 60px;
	}

	.about-job__col1{
		-webkit-flex-basis: 100%;
		flex-basis: 100%;
		margin-bottom: 30px;
	}

	.about-job__text{
		text-align: center;
	}

	.about-job__list li{
		padding: 0;
	}

	.about-job__list li:before{
		display: none;
	}

	.about-job__col2{
		-webkit-flex-basis: 100%;
		flex-basis: 100%;
	}

	.about-job__list{
		margin-bottom: 0;
	}

	.about-job__button .button{
		margin: 0;
	}
}

/*****************  ПРИНЦИПЫ  ****************/

.principles-anons{
	position: relative;
	overflow: hidden;
	padding: 120px 30px 150px;
}

.principles-anons:after{
	content: '';
	display: block;
	position: absolute;
	top: -70px;
	right: -20px;
	width: 247px;
	height: 232px;
	background: url('../img/grass4.png');
	background-size: cover;
}

.principles-anons__title{
	max-width: 600px;
	margin: 0 auto;
	color: #ffffff;
	font-size: 36px;
	line-height: 45px;
	letter-spacing: -0.2px;
	position: relative;
    z-index: 3;
}

@media screen and (max-width: 768px) {

	.principles-anons {
    	padding: 65px 30px;
	}

	.principles-anons__title{
		max-width: 290px;
		font-size: 24px;
		line-height: 30px;
	}

	.principles-anons:after {
	    top: -32px;
	    height: 111px;
	    width: 119px;
	}
}

@media screen and (max-width: 480px) {
	.principles-anons {
    	padding: 140px 30px 180px;
	}

	.principles-anons:after {
	    height: 172px;
	    width: 183px;
	    top: -50px;
	}
}

/*****************  ЦЕННОСТИ  ****************/

.principles-main{
	position: relative;
	padding: 85px 35px;
}

.principles-main:before{
	content: '';
	display: block;
	position: absolute;
	top: -100px;
	left: 60px;
	width: 200px;
	height: 160px;
	background: url('../img/grass3.png');
	background-size: cover;
}

.principles-main__content{
	max-width: 700px;
	margin: 0 auto;
}

.principles-main__title{
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.06em;
	line-height: 25px;
	font-family: 'Geometria';
	margin-bottom: 50px;
}

.principles-main__row{
	font-size: 0;
	margin: 0px auto;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.principles-main__item{
	font-size: 16px;
	letter-spacing: 0.03em;
	line-height: 20px;
	position: relative;
	margin-bottom: 20px;
}

.principles-main__item:before{
	content: '';
	position: absolute;
	top: 6px;
	left: -20px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #ff9149;
	margin-right: 10px;
}

@media screen and (max-width: 768px) {
	.principles-main{
		position: relative;
		padding: 55px 35px;
	}

	.principles-main:before{
	    width: 142px;
	    height: 112px;
	    top: -70px;
	    left: 10px;
	}

	.principles-main__title{
		font-size: 12px;
		line-height: 20px;
	}

	.principles-main__row{
		margin-top: 35px;
	}

	.principles-main__item {
	    font-size: 14px;
	    line-height: 20px;
	    margin-bottom: 15px;
	}

	.principles-main__item:before{
		width: 7px;
		height: 7px;
	}
}

@media screen and (max-width: 480px) {
	.principles-main__row{
		justify-content: center;
		margin-right: -60px;
	}

	.principles-main__item{
		padding-left: 20px;
	}

	.principles-main__item:before{
		left: 0;
	}

	.principles-main__col{
		width: 50%;
	}

	.principles-main__col:last-child{
		width: 100%;
	}

	.principles-main__col:last-child .principles-main__item{
		display: inline-block;
		width: 50%;
	}

	.principles-main__content{
		max-width: 320px;
		overflow: hidden;
	}
}

/***** БЛОКИ ПРИНЦИПОВ ****/

.blocks__principles{
	padding: 0 20%;
}

.blocks__principles__text{
	font-size: 18px;
	letter-spacing: 0.01em;
	line-height: 25px;
}

@media screen and (max-width: 768px) {
	.blocks__principles {
	    padding: 20px 15%;
	}

	.blocks__principles__text{
		font-size: 14px;
		line-height: 20px;
	}
}

@media screen and (max-width: 480px) {
	.blocks__principles {
	    padding: 40px 30px;
	}
}


/*******************  МЕНЮ  *****************/

.menu-anons{
	padding: 95px 0;
}

.menu-anons__title{
	max-width: 370px;
	margin: 0 auto;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	line-height: 25px;
	font-family: 'Geometria';
}

.menu-anons_bottom .menu-anons__title{
	max-width: 690px;
}

.blocks__menu__title{
	position: absolute;
	top: 11%;
	left: 0;
	right: 0;
	font-size: 28px;
	color: #ffffff;
	text-align: center;
	line-height: 45px;
}

.blocks__row_menu{
	flex-wrap: wrap;
}

.blocks__row_menu .blocks__col{
	-webkit-flex-basis: 33.3%;
	flex-basis: 33.3%;
}

.blocks__col_last{
	background: #F74D68;
	align-self: center;
}

.blocks__col_last:before{
	content: '';
	padding-top: 100%;
	display: block;
}

.blocks__menu__last-wrap{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
    align-items: center;
    padding: 10%;
}

.blocks__menu__title_last{
	font-size: 28px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
}

@media screen and (max-width: 1200px) {
	.blocks__col_last{
		display: none;
	}

	.blocks__row_menu .blocks__col{
		-webkit-flex-basis: 50%;
		flex-basis: 50%;
	}
}

@media screen and (max-width: 768px) {
	.menu-anons{
		padding: 55px 0;
	}

	.menu-anons__title{
		max-width: 250px;
		font-size: 12px;
		line-height: 20px;
	}

	.blocks__menu__title{
		top: 9%;
		font-size: 22px;
		line-height: 45px;
	}

	.menu-anons_bottom .menu-anons__title{
		max-width: 300px;
	}
}


/*****************  КОНТАКТЫ  ****************/

.contacts-anons{
	padding: 95px 0 105px;
}

.contacts-anons__title{
	max-width: 550px;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.06em;
	font-family: 'Geometria';
}

.blocks__contacts{
	padding: 45px 65px;
}

.blocks__contacts__item{
	position: relative;
	margin-bottom: 30px;
	padding-left: 30px;
	cursor: pointer;
}

.blocks__contacts__item:last-child{
	margin-bottom: 0;
}

.blocks__contacts__item:before{
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	left: 0;
	top: 7px;
	background: #ff683e;
	border-radius: 10px;
}

.blocks__contacts__title{
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 6px;
	letter-spacing: 0.06em;
	line-height: 25px;
	font-family: 'Geometria';
}

.blocks__contacts__address{
	font-size: 16px;
	letter-spacing: 0.01em;
	line-height: 25px;
}

.contacts__map,
.blocks__scroll{
	//height: 700px; /*910*/
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.blocks__col_contacts:before{
	content: "";
    display: block;
    padding-top: 100%;
}

.contacts__map__button{
	display: none;
	margin: 40px auto 0;
	max-width: 280px;
}

.contacts__map__button .button{
	border: none;
	padding: 16px 20px;
	text-transform: uppercase;
	background-color: #ff6134;
	border-radius: 20px;
	font-size: 10px;
	color: #ffffff;
	letter-spacing: 0.1em;
	line-height: 7px;
}

.mCSB_scrollTools{
	background: #ffdfd6;
	opacity: 1;
	width: 10px;
}

.mCSB_scrollTools .mCSB_draggerContainer{
	top: 10px;
	bottom: 10px;
}

.mCSB_scrollTools .mCSB_draggerRail{
	background: #ffdfd6;
	width: 10px;
	border-radius: 0;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background: #ff6134;
	width: 10px;
	transition: none;
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	filter: none;
	background: #ff6134;
}

@media screen and (max-width: 1000px) {
	.blocks__contacts{
		padding: 45px 55px;
	}

	.contacts__map,
	.blocks__scroll{
		//height: 500px;
		overflow: hidden;
	}
}

@media screen and (max-width: 768px) {
	.blocks__row_contacts{
		flex-direction: column;
	}

	.contacts-anons{
		padding: 45px 0;
	}

	.contacts-anons__title{
		max-width: 250px;
		font-size: 12px;
		line-height: 20px;
	}

	.blocks__col_contacts{
		-webkit-flex-basis: 100%;
    	flex-basis: 100%;
	}

	.blocks__col_contacts:before{
		display: none;
	}

	.blocks__scroll{
		height: auto;
		position: relative;
	}

	.contacts__map{
		display: none;
	}

	.contacts__map__button{
		display: block;
	}

	.blocks__contacts{
		display: flex;
		flex-wrap: wrap;
		padding: 40px 0px 40px 30px;
	}

	.blocks__contacts__item{
		-webkit-flex-basis: 50%;
    	flex-basis: 50%;
    	padding-left: 20px;
    	padding-right: 30px;
	}

	.blocks__contacts__item:before {
	    width: 8px;
	    height: 8px;
	    top: 5px;
	    border-radius: 8px;
	}

	.blocks__contacts__title{
		font-size: 12px;
		line-height: 20px;
	}

	.blocks__contacts__address{
		font-size: 14px;
		line-height: 20px;
	}
}


@media screen and (max-width: 480px) {
	.contacts__map__button{
		max-width: 100%;
		margin: 35px 20px 0;
	}

	.blocks__contacts{
		padding: 35px 0px 40px 20px;
	}

	.blocks__contacts__item{
		-webkit-flex-basis: 100%;
    	flex-basis: 100%;
	}
}

/******************* БИЗНЕС *****************/

.business-anons{
	padding: 95px 0 105px;
}

.business-anons__title{
	max-width: 620px;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.06em;
	font-family: 'Geometria';
}

.business__block{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 8% 5% 12%;
    overflow: hidden;
}

.business__block.one:before{
	content: '';
	display: block;
	width: 92px;
	height: 117px;
	background: url('../img/grass-business.png') no-repeat;
	background-size: cover;
	position: absolute;
	top: 5%;
	left: 5%;
}

.business__block.two:before{
	content: '';
	display: block;
	width: 180px;
	height: 144px;
	background: url('../img/grass3.png') no-repeat;
	background-size: cover;
	position: absolute;
	top: 5%;
	left: 5%;
	transform: rotate(-12deg);
}

.blocks__col_business:before{
	content: "";
    display: block;
    padding-top: 100%;
}

.business__name{
	width: 100%;
	font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    align-self: flex-start;
    font-family: 'Geometria';
    position: relative;
    z-index: 2;
}

.business__title{
	font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.03em;
    max-width: 380px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

.business__button-wrap{
	width: 100%;
	align-self: flex-end;
	position: relative;
}

.business__block.two .button:after{
    content: '';
    position: absolute;
    top: -20px;
    right: -30px;
    display: block;
    background: url(../img/grass2.png) no-repeat;
    width: 54px;
    height: 46px;
    z-index: 1;
}

@media screen and (max-width: 768px) {
	.business-anons{
		padding: 45px 0;
	}

	.business-anons__title{
		max-width: 250px;
		font-size: 12px;
		line-height: 20px;
	}

	.business__name{
		top: 20px;
		font-size: 10px;
		line-height: 25px;
	}

	.business__title{
		font-size: 20px;
		line-height: 25px;
		max-width: 215px;
	}
}

/******************* ЖДЕМ ВАС *****************/

.wait{
	background: #fff;
	padding: 95px 0 105px;
}

.wait__text{
	font-family: 'Geometria';
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.06em;
	color: #000;
	max-width: 380px;
	margin: 0 auto;
	text-transform: uppercase;
}

@media screen and (max-width: 768px) {
	.wait{
		padding: 55px 0;
	}

	.wait__text{
		font-size: 12px;
		line-height: 20px;
		max-width: 200px;
	}
}

@media screen and (max-width: 480px) {
	.wait__text{
		max-width: 100%;
		padding: 0 40px;
	}
}


/****************  ФУТЕР  ***************/

.footer{
	background: #f74d69;
	padding: 40px 30px 40px;
}

.footer__inner{
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.footer__col{
    max-width: 300px;
    min-width: 140px;
}

.footer__logo{
	letter-spacing: -0.01em;
	font-size: 18px;
	line-height: 1;
	color: #fff;
	margin-bottom: 15px;
}

.footer__logo__text{
	display: inline-block;
	vertical-align: middle;
}

.footer__logo:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url('../img/logo-white.svg');
	background-size: cover;
	margin-right: 6px;
}

.footer__text{
	font-size: 14px;
	color: #ffffff;
	letter-spacing: 0.35px;
	line-height: 20px;
}

.footer__text a{
	display: inline-block;
	color: #fff;
	border-color: #fff;
}

.footer__title{
	font-family: 'Geometria';
	font-size: 10px;
	color: #ffffff;
	letter-spacing: 0.14em;
	line-height: 20px;
	margin-bottom: 7px;
	text-transform: uppercase;
}

.footer__text > a{
	margin-bottom: 5px;
}

.footer__social .footer__social__link{
	color: #fff;
	text-decoration: underline;
	display: block;
	margin-bottom: 5px;
}

.footer__search-wrap{
	position: relative;
}

.footer__search__input{
	border: 1px solid #ffffff;
	border-radius: 20px;
	font-size: 9px;
	color: #ffffff;
	text-align: left;
	letter-spacing: 0.01em;
	line-height: 20px;
	width: 100%;
	background: none;
	padding: 2px 10px;
}

.footer__search__icon{
	border: none;
    position: absolute;
    right: 15px;
    top: 10px;
    display: block;
    width: 12px;
    height: 12px;
    background: url('../img/footer_arrow.svg') no-repeat;
    background-size: 12px 12px;
    cursor: pointer;
    outline: 0;
}

@media screen and (max-width: 768px) {
	.footer{
		padding: 17px 30px;
	}

	.footer__desktop{
		display: none;
	}

	.footer__text{
		width: 100%;
		font-size: 12px;
		line-height: 15px;
		overflow: hidden;
	}

	.footer__left{
		float: left;
	}

	.footer__right{
		float: right;
	}
}

@media screen and (max-width: 480px) {
	.footer{
		padding: 17px 25px;
	}
}
